body {
  background: #0d0d0d;
  color: #ffffff;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#tablet {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  width: 600px;
}

button {
  background: #007acc;
  color: #fff;
  padding: 10px;
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

#logs {
  white-space: pre-wrap;
  font-size: 14px;
  background: #262626;
  padding: 10px;
  border-radius: 6px;
}
